<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morhaimi.log.mapper.LogMessageMapper">

    <select id="checkTableExists" resultType="Integer">
        SELECT
            COUNT(1)
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_SCHEMA = #{dataBaseName} AND TABLE_NAME = #{tableName}
    </select>
    
    <update id="initTable">
        CREATE TABLE `sys_log_message` (
           `id` int NOT NULL AUTO_INCREMENT,
           `thread_name` varchar(500) DEFAULT NULL COMMENT '线程名',
           `ip` varchar(20) DEFAULT NULL COMMENT '本地ip',
           `logger_name` varchar(500) DEFAULT NULL COMMENT '日志写入名称',
           `line` int DEFAULT NULL COMMENT '日志记录行',
           `level` varchar(10) DEFAULT NULL COMMENT '日志级别',
           `message` text COMMENT '日志内容',
           `read_state` int DEFAULT NULL COMMENT '阅读状态：1.未读，2.已读',
           `time_stamp` bigint DEFAULT NULL COMMENT '时间戳',
           `date_info` datetime DEFAULT NULL COMMENT '时间信息',
           PRIMARY KEY (`id`)
        ) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8 COMMENT='日志记录表';
    </update>

    <insert id="writeLogs" parameterType="com.morhaimi.log.entity.LogMessage">
        insert into sys_log_message (thread_name, ip, logger_name, line, level, message, read_state, time_stamp, date_info) values
        <foreach collection="list" separator="," item="item">
            (#{item.threadName}, #{item.ip}, #{item.loggerName}, #{item.line}, #{item.level},
             #{item.message}, #{item.readState}, #{item.timeStamp}, #{item.dateInfo})
        </foreach>
    </insert>

</mapper>